@model ooadproject.Models.Course

@{
    ViewData["Title"] = "Detalji";
    Layout = "~/Views/Shared/_LayoutStudentService.cshtml";
}

<h1>Detalji</h1>

<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Naziv predmeta
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Nastavnik
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teacher.Id)
        </dd>
        <dt class = "col-sm-2">
            Akademska godina
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcademicYear)
        </dd>
        <dt class = "col-sm-2">
            ECTS
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ECTS)
        </dd>
        <dt class = "col-sm-2">
            Semestar
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Semester)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Uredi</a> |
    <a asp-action="Index">Vrati se</a>
</div>
