@model IEnumerable<ooadproject.Models.Course>

@{
    ViewData["Title"] = "Predmeti";
    Layout = "~/Views/Shared/_LayoutStudentService.cshtml";
}

<h1>Predmeti</h1>

<table class="table table-hover">
    <thead>
        <tr>
           
            <th>
                Predmet
            </th>
            <th>
                Nastavnik
            </th>
            <th>
                Akademska godina
            </th>
            <th>
                ECTS
            </th>
            <th>
                Semestar
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            var DisplayTeacherName = item.Teacher.GetFullName();
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => DisplayTeacherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcademicYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ECTS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Izbriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
<a class="btn btn-primary mt-3" asp-action="Create">Dodaj novi predmet</a>
