@model ooadproject.Models.Exam

@{
    ViewData["Title"] = "Details";
}
@section SideMenu {
    <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <a class="btn align-items-center rounded-active" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'" asp-page="/Teacher/Index">Početna</a>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed text-decoration-none" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'" data-bs-toggle="collapse" data-bs-target="#home-collapse1" aria-expanded="true">
                <i class="fa-solid fa-arrow-right" style="font-size: 1rem;"></i>
                Izvještaji
            </button>
            <div class="collapse" id="home-collapse1">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small" style="padding-left: 1rem;">
                    <!--Display all courses a teacher is teaching-->
                    @foreach (var course in ViewBag.Courses)
                    {
                        <li>
                            <a class="link-dark rounded text-decoration-none" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'">@course.Name</a>
                        </li>
                    }
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed text-decoration-none" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'" data-bs-toggle="collapse" data-bs-target="#home-collapse2" aria-expanded="true">
                <i class="fa-solid fa-arrow-right" style="font-size: 1rem;"></i>
                Unos rezultata studenata
            </button>
            <div class="collapse" id="home-collapse2">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small" style="padding-left: 1rem;">
                    <!-- For each course in Model.CourseNames display a link to the course page-->
                    @foreach (var course in ViewBag.Courses)
                    {
                        <li>
                            <a class="link-dark rounded text-decoration-none" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'">@course.Name</a>
                        </li>
                    }
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <a class="btn align-items-center rounded text-decoration-none" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'" asp-controller="Exam" asp-action="Index">Ispiti</a>
        </li>
    </ul>
}
<h1>Details</h1>

<div>
    <h4>Exam</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Course.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPoints)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumPoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumPoints)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
