@model IEnumerable<ooadproject.Models.Exam>

@{
    ViewData["Title"] = "Index";
    var Registrations = (Dictionary<int,int>) ViewData["RegisteredForExam"];
}
@section SideMenu {
    <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <a class="btn align-items-center rounded-active" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'" asp-controller="Home" asp-action="TeacherHome">Početna</a>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed text-decoration-none" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'" data-bs-toggle="collapse" data-bs-target="#home-collapse1" aria-expanded="true">
                <i class="fa-solid fa-arrow-right" style="font-size: 1rem;"></i>
                Izvještaji
            </button>
            <div class="collapse" id="home-collapse1">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small" style="padding-left: 1rem;">
                    <!--Display all courses a teacher is teaching-->
                    @foreach (var course in ViewBag.Courses)
                    {
                        <li>
                            <a asp-controller="Course" asp-action="CourseStatus" asp-route-id="@course.ID" class="link-dark rounded text-decoration-none" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'">@course.Name</a>
                        </li>
                    }
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed text-decoration-none" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'" data-bs-toggle="collapse" data-bs-target="#home-collapse2" aria-expanded="true">
                <i class="fa-solid fa-arrow-right" style="font-size: 1rem;"></i>
                Unos rezultata studenata
            </button>
            <div class="collapse" id="home-collapse2">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small" style="padding-left: 1rem;">
                    <!-- For each course in Model.CourseNames display a link to the course page-->
                    @foreach (var course in ViewBag.Courses)
                    {
                        <li>
                            <a asp-controller="StudentExam" asp-action="TeacherInput" asp-route-id="@course.ID" class="link-dark rounded text-decoration-none" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'">@course.Name</a>
                        </li>
                    }
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <a class="btn align-items-center rounded text-decoration-none" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'" asp-controller="Exam" asp-action="Index" data-viewbag="@ViewBag.">Ispiti</a>
        </li>
    </ul>
}
<h1 class="pb-4">Aktuelni ispiti</h1>

<table class="table table-bordered border-dark">
    <thead>
        <tr>
            <th>
                Predmet
            </th>
            <th>
                Ispit
            </th>
            <th>
                Datum
            </th>
            <th>
                Prijavljeno
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
            var name = item.Course.Name;
            <tr>
            <td>
                @Html.DisplayFor(modelItem => name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Registrations[item.ID])
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Izbriši</a>
            </td>
        </tr>}
    </tbody>
</table>
<h1 class="pb-4">Kreiraj ispit</h1>

<div style="padding-left: 20px;">
    <a class="btn btn-secondary" style="background-color: #0e6efd; color: white;" onmouseover="this.style.backgroundColor='#4c84ff'" onmouseout="this.style.backgroundColor='#0e6efd'" asp-action="Create">Kreiraj novi ispit</a>
</div>

