@model IEnumerable<ooadproject.Models.Student>
@inject SignInManager<Person> SignInManager
@inject UserManager<Person> UserManager

@{
    ViewData["Title"] = "Početna";
}
@section SideMenu {
    <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <a class="btn align-items-center rounded-active" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'" asp-controller="Home" asp-action="Index">Početna</a>
        </li>

        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed text-decoration-none" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                <i class="fa-solid fa-arrow-right" style="font-size: 1rem;"></i>
                Predmeti
            </button>
            <div class="collapse" id="home-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small" style="padding-left: 1rem;">
                    @foreach (var course in ViewBag.Courses)
                    {
                    <li><a class="link-dark rounded text-decoration-none" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'" 
                        asp-controller="StudentCourse" asp-action="StudentCourseStatus" asp-route-id="@course.ID">@course.Course.Name</a></li>
                    }               
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <a class="btn align-items-center rounded text-decoration-none" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'" asp-controller="Request" asp-action="StudentRequests">Aktuelni zahtjevi</a>
        </li>
        <li class="mb-1">
            <a class="btn align-items-center rounded text-decoration-none" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'" asp-controller="ExamRegistration" asp-action="Index">Prijava ispita</a>
        </li>
        <li class="mb-1">
            <a class="btn align-items-center rounded text-deco" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'" asp-controller="StudentCourse" asp-action="StudentOverallStatus">Pregled rezultata studija</a>
        </li>
    </ul>
}
@if (SignInManager.IsSignedIn(User))
{
    <h1 class="pb-3">Dobro došli, @User.Identity?.Name!</h1>
    <hr />
    <h2>Obavijesti</h2>
    /*@if (ViewBag.Notifications.Count == 0)
    {
        <div style="padding-left: 1rem; padding-top: 1rem;">
            <h3>Trenutno nema novih obavještenja</h3>
        </div>
    }
    else
    {
        @foreach (var notification in ViewBag.Notifications)
        {
            <a class="link-dark rounded text-decoration-none btn-lg d-flex justify-content-start align-items-center mb-1" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'">
                <i class="far fa-bell me-3" style="font-size: 1.5rem;"></i>
                @notification.Title: @notification.Description
            </a>
        }
    }*/
}
