@model IEnumerable<ooadproject.Models.Teacher>
@inject SignInManager<Person> SignInManager
@inject UserManager<Person> UserManager

@{
    ViewData["Title"] = "Index";
}

@section SideMenu {
    <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <a class="btn align-items-center rounded-active" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'" asp-controller="Home" asp-action="TeacherHome">Početna</a>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed text-decoration-none" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'" data-bs-toggle="collapse" data-bs-target="#home-collapse1" aria-expanded="true">
                <i class="fa-solid fa-arrow-right" style="font-size: 1rem;"></i>
                Izvještaji
            </button>
            <div class="collapse" id="home-collapse1">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small" style="padding-left: 1rem;">
                    <!--Display all courses a teacher is teaching-->
                    @foreach (var course in ViewBag.Courses)
                    {
                        <li>
                            <a asp-controller="Course" asp-action="CourseStatus" asp-route-id="@course.ID" class="link-dark rounded text-decoration-none" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'">@course.Name</a>
                        </li>
                    }
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed text-decoration-none" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'" data-bs-toggle="collapse" data-bs-target="#home-collapse2" aria-expanded="true">
                <i class="fa-solid fa-arrow-right" style="font-size: 1rem;"></i>
                Unos rezultata studenata
            </button>
            <div class="collapse" id="home-collapse2">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small" style="padding-left: 1rem;">
                    <!-- For each course in Model.CourseNames display a link to the course page-->
                    @foreach (var course in ViewBag.Courses)
                    {
                         <li>
                            <a asp-controller="StudentExam" asp-action="TeacherInput" asp-route-id="@course.ID" class="link-dark rounded text-decoration-none" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'">@course.Name</a>
                         </li>
                    }
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <a class="btn align-items-center rounded text-decoration-none" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'" asp-controller="Exam" asp-action="Index" data-viewbag="@ViewBag.">Ispiti</a>
        </li>
    </ul>
}
@if (SignInManager.IsSignedIn(User))
{
    <h1 class="pb-5">Dobro došli, @User.Identity?.Name!</h1>
    <hr />
    <h2 class="pb-3">Aktuelni ispiti</h2>
    /* Create table with all the current open exams that the teacher is assigned to*/
    /* For each exam in Model.Exams display a row with the exam information */
    /* Maybe add check if no exams are open, don't showt table */
    /* If there are no exams open, display a message saying there are no exams open */
    @if(ViewBag.Exams.Count == 0)
    {
        <div style="padding-left: 1rem;">
            <h3 class="pb-3">Trenutno nema otvorenih ispita</h3>
        </div>
    }
    else
    {
        <table class="table table-bordered">
            <tr>
                <th>Predmet</th>
                <th>Ispit</th>
                <th>Datum</th>
                <th>Prijavljeno</th>
                <th>Opcije</th>
            </tr>
            @foreach (var exam in ViewBag.Exams)
            {
                <tr>
                    <td>@exam.Course.Name</td>
                    <td>@exam.Type</td>
                    <td>@exam.Time</td>
                    <td>5</td>
                    <td>
                        <a asp-controller="Exam" asp-action="Edit" asp-route-id="@exam.ID" class="link-dark rounded">Uredi</a>
                    </td>
                </tr>
            }
        </table>
    }
    
    <h2 class="pb-3 pt-5">Obavještenja</h2>
    /*Check if there are any notifications*/
    /*If there are no notifications, display a message saying there are no notifications*/

    @if (ViewBag.Notifications.Count == 0)
    {
        <div style="padding-left: 1rem;">
            <h3>Trenutno nema novih obavještenja</h3>
        </div>
    }
    else{
        @foreach (var notification in ViewBag.Notifications)
        {
            <a class="link-dark rounded text-decoration-none btn-lg d-flex justify-content-start align-items-center mb-1" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'">
                <i class="far fa-bell me-3" style="font-size: 1.5rem;"></i>
                @notification.Title: @notification.Description
            </a>
        }
    }
}
