@model ooadproject.Models.Request

@{
    ViewData["Title"] = "Detalji";
    Layout = "~/Views/Shared/_LayoutStudentService.cshtml";
}

<h1>Zahtjev</h1>

<div>
    <h4>@ViewBag.Student.FirstName @ViewBag.Student.LastName</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Podnositelj zahtjeva
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Requester.FirstName)
        </dd>
        <dt class = "col-sm-2">
           Vrijeme podnošenja zahtjeva
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestTime)
        </dd>
        <dt class = "col-sm-2">
            Tip zahtjeva
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            Status zahtjeva
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            Odgovorna osoba
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Processor.FirstName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Uredi</a> |
    <a asp-action="Index">Vrati se</a>
</div>
