@model IEnumerable<ooadproject.Models.ExamRegistration>

@{
    ViewData["Title"] = "Index";
}
@section SideMenu {
    <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <a class="btn align-items-center rounded-active" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'" asp-controller="Home" asp-action="StudentHome">Početna</a>
        </li>

        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed text-decoration-none" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                <i class="fa-solid fa-arrow-right" style="font-size: 1rem;"></i>
                Predmeti
            </button>
            <div class="collapse" id="home-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small" style="padding-left: 1rem;">
                    @foreach (var course in ViewBag.Courses)
                    {
                        <li>
                            <a class="link-dark rounded text-decoration-none" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'" asp-controller="StudentCourse" asp-action="StudentCourseStatus" asp-route-id="@course.ID">@course.Course.Name</a>
                        </li>
                    }
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <a class="btn align-items-center rounded text-decoration-none" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'" asp-page="">Aktuelni zahtjevi</a>
        </li>
        <li class="mb-1">
            <a class="btn align-items-center rounded text-decoration-none" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'" asp-controller="ExamRegistration" asp-action="Index">Prijava ispita</a>
        </li>
        <li class="mb-1">
            <a class="btn align-items-center rounded text-deco" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'" asp-controller="StudentCourse" asp-action="">Pregled rezultata studija</a>
        </li>
    </ul>
}

<h1 class="pb-3">Aktuelni ispiti</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Predmet</th>
            <th>Ispit</th>
            <th>Datum</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var exam in ViewBag.OpenedExams)
        {
            <tr>
                <td>@exam.Exam.Course.Name</td>
                <td>@exam.Exam.Type</td>
                <td>@exam.Exam.Time</td>
                <td><a>Prijavi se</a></td>
            </tr>
        }
    </tbody>
</table>
<h1 class="pb-3">Prijavljeni ispiti</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Predmet</th>
            <th>Ispit</th>
            <th>Datum</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var exam in ViewBag.RegisteredExams)
        {
            <tr>
                <td>@exam.Exam.Course.Name</td>
                <td>@exam.Exam.Type</td>
                <td>@exam.Exam.Time</td>
                <td><a>Odjavi se</a></td>
            </tr>
        }
    </tbody>
</table>

