@model IEnumerable<ooadproject.Models.Teacher>

@{
    ViewData["Title"] = "Nastavnici";
    Layout = "~/Views/Shared/_LayoutStudentService.cshtml";
}

<h1>Nastavnici</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Titula
            </th>
            <th>
                Ime
            </th>
            <th>
                Prezime
            </th>
            <th>
                Korisničko ime
            </th>
            <th>
                Email
            </th>
   
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Izbriši</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-primary mt-3" asp-controller="Teacher" asp-action="Create">Dodaj novog nastavnika</a>